.navbar-brand{
    font-style: bold;
    font-style: italic;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.logo{
    width: 60px;
    height: auto;
}

#my-container{
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 0px;
    min-height: 100vh;
    background-image: url('./images/bg-img.jpg');
    background-size: auto;
}


#list{
    font-size: 25px;
    font-family: sans-serif;
    color: white;
    margin-left: 20px;
    margin-top: auto;
    text-align: center;
    list-style-type: none;
}

